* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.wrapper {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section-shadow {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.677);
}

.dark_bars {
    color: black;
}



// PC - NAVIGATION

.desktop-nav {
    display: none;
    position: fixed;
    padding: 0 3em;
    width: 100%;
    height: 100px;
    z-index: 5;
    background-color: #efefef;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hyperlogo {
            text-decoration: none;
            color: black;
        }

        .nav__logo {
            font-size: 3rem;
        }


        .nav__links {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav__link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 1.8rem;
                padding: 0 1em;
                text-decoration: none;
                color: black;
                transition: color .3s, background-color .3s;

            }

            .active-spy {
                color: rgb(38, 190, 83);
            }

            .nav__link:hover {
                color: #fff;
                background-color: black;
            }
        }



    }
}



// Mobile NAV


.mobile-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 60%;
    left: 0;
    background-color: #ebebeb;
    z-index: 5;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    color: black;
    transition: transform .5s;
}

.mobile-nav-logo {
    position: relative;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;

}

.mobile-nav-logo::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: -50%;
    left: 0;
    background-color: black;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;

    .nav_link {
        padding: 1.4em 1.4em;
        font-size: 1.8rem;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

}

.mobile-nav-footer {
    position: absolute;
    bottom: 5%;
    font-size: 1.2rem;
}




.nav-active {
    transform: translateX(0);
}


// Mobile Header

.mobile-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/header-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bars {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 6;
    border: none;
    background-color: transparent;
    font-size: 3.3rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
}

.mobile-header-text {
    color: white;
    z-index: 2;
    text-align: center;

    h1 {
        font-size: 4.5rem;
        font-weight: 300;
        margin-bottom: .4em;
    }

    p {
        font-size: 1.5rem;
    }



}

// header

header {
    display: none;
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: url('../img/header-big.jpg');
    background-size: cover;
    background-position: center;

    .section-shadow {
        padding: 4em;


        .wrapper {
            display: flex;
            align-items: center;

            .header-text {
                padding-top: 10vh;
                color: white;
                z-index: 2;
                font-size: 1.6rem;
            }
        }
    }



}


// aboutus

.aboutus {
    padding: 8em 4em;
    margin-bottom: 2rem;

    .section-heading {
        position: relative;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 4em;
    }


    .aboutus-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            margin-bottom: 6rem;
        }

        .aboutus-box-text {

            h3 {
                font-size: 2.5rem;
                margin-bottom: 1em;
                text-align: center;
            }

            p {
                font-size: 1.6rem;
                word-spacing: 5px;
                text-align: center;
                line-height: 30px;

            }
        }
    }
}

// breaker

.breaker {
    padding: .5em;
    position: relative;
    background-image: url('../img/baner-min.jpg');
    background-position: center;
    background-size: cover;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-shadow {
        background-color: rgba(23, 26, 21, 0.431);
    }

    h2 {
        z-index: 2;
        color: white;
        font-size: 2rem;
        border: 1px solid white;
        text-align: center;
        padding: .8em;
    }
}



// oferta

.offer {
    padding: 6em 5em;

    .offer-heading {
        text-align: center;

        h2 {
            text-transform: uppercase;
            margin-bottom: 1.5em;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 5rem;
        }

    }

    .offer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

        .offer-item {
            min-width: 30rem;
            margin: 3em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            padding: 3em 2em;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.505);

            h3 {
                font-size: 2rem;
                margin-bottom: 1em;
            }

            .price {
                font-size: 4rem;
                margin-bottom: 0.5em;
                font-weight: bold;
            }

            .offer-options {
                margin-bottom: 2.5em;

                .option {
                    font-size: 1.5rem;
                    margin: .4em;
                }

                .fa-check {
                    color: lime;
                }

                i {
                    padding: .2em;
                }

                .disable-option {
                    color: gray;
                }

            }

            .offer-btn {
                width: 70%;
                padding: .5em;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
                background-color: transparent;
                border: none;
                border-radius: 8px;
                font-size: 1.5em;
                color: black;
                cursor: pointer;
                transition: transform .3s;
            }

            .offer-btn:hover,
            .offer-btn:focus {
                transform: scale(1.1);
            }

            .highlighted {
                background-color: lime;
            }

        }


    }

    .more-offer {
        font-size: 1.5rem;
        text-align: center;

        p {
            margin-bottom: 3em;
        }

        a {
            padding: .8em;
            width: 150px;
            height: 40px;
            border-radius: 8px;
            border: none;
            background-color: rgb(0, 0, 0);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.521);
            cursor: pointer;
            text-decoration: none;
            color: rgb(255, 255, 255);

        }

    }


}


// footer


footer {
    padding: 4em 3em;
    background-color: #efefef;
    width: 100%;
    overflow: hidden;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-logo {
            font-size: 3.5rem;
            margin-bottom: 4rem;
        }

        .footer-box {
            display: flex;
            width: 100%;
            justify-content: space-evenly;

            .footer-items {
                display: flex;
                flex-direction: column;
                text-align: left;


                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 1em;
                }

                .footer-item {
                    position: relative;
                    padding: .5em 0;
                    font-size: 1.2rem;
                    color: black;
                    text-decoration: none;
                    transition: color .3s;
                }


                .footer-item:hover::first-letter {
                    color: lime;

                }


            }
        }


    }

    .footer-breaker {
        height: 1px;
        width: 120%;
        background-color: black;
        transform: translateX(-3rem);
        margin-top: 2em;
    }

    .footer-copy-write {
        text-align: center;
        margin-top: 3em;
        font-size: 1.2rem;
    }
}




// Media

@media (min-width: 576px) {

    .mobile-header {



        .nav-bars {
            top: 15px;
            right: 15px;
            font-size: 4rem;
            padding: 1rem;
        }

        .mobile-header-text {
            h1 {
                font-size: 6rem;
            }

            p {
                font-size: 2.4rem;
            }

        }

    }

    .breaker {
        height: 300px;


        h2 {
            font-size: 2.8rem;
            padding: .8em 2em;
        }
    }

    .offer {

        .offer-heading {
            h2 {
                font-size: 2.6rem;
            }

            p {
                font-size: 1.6rem;
            }

        }

        .offer-box {
            margin-bottom: 6em;

            .offer-item {
                h3 {
                    font-size: 2.4rem;
                }

                .price {
                    font-size: 4.3rem;
                }

                .offer-options {
                    .option {
                        font-size: 1.6rem;
                    }
                }

                .offer-btn {
                    padding: .5em;
                    font-size: 1.7em;
                }

            }


        }


        .more-offer {
            font-size: 1.9rem;

            p {
                margin-bottom: 3em;
            }

            a {
                padding: .8em;
            }

        }
    }

    footer {

        .wrapper {

            .footer-logo {
                font-size: 4.5rem;
            }

            .footer-box {

                .footer-items {
                    h3 {
                        font-size: 1.8rem;
                        margin-bottom: 1em;
                    }

                    .footer-item {
                        padding: .5em 0;
                        font-size: 1.5rem;
                    }
                }
            }


        }


        .footer-copy-write {
            margin-top: 3em;
            font-size: 1.5rem;
        }
    }


}


@media (min-width: 768px) {

    // NAVIGATION


    html {
        scroll-padding-top: 100px;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-header {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    header {
        display: block;
    }

    .aboutus-box-text {
        padding: 0 4em;
    }

    .breaker {
        h2 {
            font-size: 3rem;
            padding: .8em 4em;
        }
    }

    .offer {

        .offer-heading {
            h2 {
                font-size: 2.7rem;
            }

            p {
                font-size: 1.7rem;
            }

        }

        .offer-box {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

            .offer-item {
                margin-bottom: 0;

                h3 {
                    font-size: 2.6rem;
                }

                .price {
                    font-size: 4.5rem;
                }

                .offer-options {
                    .option {
                        font-size: 1.8rem;
                    }
                }



                .offer-btn {
                    padding: .5em;
                    font-size: 1.9em;
                }

            }


        }


    }

    footer {

        .wrapper {

            .footer-logo {
                font-size: 5rem;
            }

            .footer-box {

                .footer-items {
                    h3 {
                        font-size: 2rem;
                        margin-bottom: 1em;
                    }

                    .footer-item {
                        padding: .5em 0;
                        font-size: 1.8rem;
                    }
                }
            }


        }


        .footer-copy-write {
            margin-top: 2em;
            font-size: 1.6rem;
        }
    }

}



@media (min-width: 992px) {

    .desktop-nav {
        padding: 0 4em;

        .wrapper {

            .nav__logo {
                font-size: 4rem;
            }

            .nav__links {

                .nav__link {
                    font-size: 2.2rem;
                }
            }

        }

    }

    header {

        .section-shadow {
            .wrapper {
                .header-text {
                    font-size: 2rem;

                }

            }
        }
    }

    .aboutus {
        .section-heading {
            font-size: 2rem;
        }

        .aboutus-box {
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 50%;
                height: 100%;
                margin-bottom: 0;
            }

            .aboutus-box-text {
                padding: 0 5rem;

                h3 {
                    font-size: 2.3rem;
                    text-align: left;
                }

                p {
                    font-size: 1.5rem;
                    text-align: left;
                }
            }
        }
    }

    .breaker {
        background-image: url('../img/baner-big.jpg');
        height: 400px;

        h2 {
            font-size: 3.5rem;
            padding: 1em 4em;
        }
    }

    footer {

        .wrapper {
            flex-direction: row;

            .footer-logo {
                font-size: 5rem;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .footer-box {
                .footer-items {
                    h3 {
                        font-size: 2rem;
                        margin-bottom: 1em;
                    }

                    .footer-item {
                        padding: .5em 0;
                        font-size: 1.8rem;
                    }
                }
            }


        }


        .footer-copy-write {
            margin-top: 2em;
            font-size: 1.6rem;
        }
    }

}

@media (min-width: 1200px) {
    header {
        .section-shadow {
            .wrapper {
                .header-text {
                    font-size: 2.3rem;

                }

            }
        }
    }

    .aboutus {
        .section-heading {
            font-size: 2rem;
        }

        .aboutus-box {


            img {
                width: 45%;
            }

            .aboutus-box-text {

                h3 {
                    font-size: 2.8rem;
                    text-align: left;
                }

                p {
                    font-size: 1.8rem;
                    text-align: left;
                }
            }
        }
    }

    .breaker {
        h2 {
            font-size: 3.7rem;
            padding: 1em 5em;
        }
    }

    .offer {

        .offer-heading {
            h2 {
                font-size: 3.5rem;
            }

            p {
                font-size: 2.2rem;
            }

        }

        .offer-box {
            .offer-item {
                min-width: 33rem;

                h3 {
                    font-size: 2.8rem;
                }

                .price {
                    font-size: 4.8rem;
                }

                .offer-options {
                    .option {
                        font-size: 1.8rem;
                    }
                }



                .offer-btn {
                    padding: .5em;
                    font-size: 1.9em;
                }

            }


        }


    }

}